ArmCord
autostart
BetterDiscord
BetterDiscord Installer
cef_user_data
dconf
discord
dunst
Electron
environment.d
EOS-arch-news.conf
EOS-greeter.conf
eos-update-notifier.first_init
example.picom.conf
github-copilot
gtk-3.0
i3
ibus
LICENSE
mako
mimeapps.list
nano
obsidian
pulse
README.md
rofi
sway
swaylock
systemd
Thunar
user-dirs.dirs
user-dirs.locale
wofi
xed
xfce4
yay
