ArmCord
BetterDiscord
BetterDiscord Installer
Code*
EOS-arch-news.conf
EOS-greeter.conf
Electron
LICENSE
QtProject.conf
README.md
Thunar
VSCodium
alacritty
autostart
cef_user_data
dconf
discord
dunst
environment.d
eos-update-notifier.first_init
example.picom.conf
fish
ghc
github-copilot
go
gtk-3.0
i3
ibus
mako
mimeapps.list
nano
neofetch
nvim
obs-studio
obsidian
pavu*
pulse
qBittorrent
reflector-simple*
rofi
sway
swaylock
systemd
tmux
user-dirs.dirs
user-dirs.locale
vlc
wofi
xed
xfce4
yay
